<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="stylesheets/main.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/table.css" type="text/css">
  </head>
  <body>
    <div>
      <div id="title"><h1>ERROR</h1></div>
      <div id="app">
      </div>
    </div>
  </body>
    
</html>
